.class {
  box-sizing: border-box;
  overflow: hidden;
  background-color: #fff;
  height: 1500rpx;
}
.title {
  width: 665rpx;
  margin-top: 50rpx;
  margin-left: 50rpx;
  color: #000;
}
.title .title-name,
.title .title-num {
  font-size: 36rpx;
  padding-left: 24rpx;
}
.title .title-week {
  font-size: 30rpx;
  float: right;
  display: inline-block;
}
.title .title-week image {
  width: 26rpx;
  height: 18rpx;
  padding-left: 26rpx;
}
.table {
  box-sizing: border-box;
  width: 735rpx;
  margin: 0 auto;
  margin-top: 60rpx;
}
.table .table-week {
  margin-left: 80rpx;
}
.table .table-week text {
  color: #999;
  font-size: 23rpx;
  padding-right: 78rpx;
}
.table .class-body {
  margin-top: 35rpx;
  overflow: hidden;
}
.table .class-body .class12,
.table .class-body .class34,
.table .class-body .class56,
.table .class-body .class78,
.table .class-body .class910,
.table .class-body .class1112 {
  height: 170rpx;
  float: left;
  overflow: visible;
}
.table .class-body .class12 .class-con,
.table .class-body .class34 .class-con,
.table .class-body .class56 .class-con,
.table .class-body .class78 .class-con,
.table .class-body .class910 .class-con,
.table .class-body .class1112 .class-con {
  box-sizing: border-box;
  width: 90rpx;
  height: 160rpx;
  background-color: #ffd051;
  margin-right: 10rpx;
  float: left;
  margin-bottom: 10rpx;
  position: relative;
  overflow: hidden;
}
.table .class-body .class12 .class-con view,
.table .class-body .class34 .class-con view,
.table .class-body .class56 .class-con view,
.table .class-body .class78 .class-con view,
.table .class-body .class910 .class-con view,
.table .class-body .class1112 .class-con view {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 90%;
  transform: translate(-50%, -50%);
  text-align: center;
  overflow: hidden;
  -webkit-line-clamp: 4;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  text-overflow: ellipsis;
  line-height: 1;
  color: #fff;
}
.table .class-body .class12 .class-con view text,
.table .class-body .class34 .class-con view text,
.table .class-body .class56 .class-con view text,
.table .class-body .class78 .class-con view text,
.table .class-body .class910 .class-con view text,
.table .class-body .class1112 .class-con view text {
  color: #fff;
  font-size: 22rpx;
  text-align: center;
}
.table .class-body .class12 .class-con .class-name,
.table .class-body .class34 .class-con .class-name,
.table .class-body .class56 .class-con .class-name,
.table .class-body .class78 .class-con .class-name,
.table .class-body .class910 .class-con .class-name,
.table .class-body .class1112 .class-con .class-name {
  padding-bottom: 10rpx;
}
.table .class-body .class12 .table-time,
.table .class-body .class34 .table-time,
.table .class-body .class56 .table-time,
.table .class-body .class78 .table-time,
.table .class-body .class910 .table-time,
.table .class-body .class1112 .table-time {
  box-sizing: border-box;
  width: 45rpx;
  height: 160rpx;
  background-color: #fff;
  overflow: hidden;
  text-align: center;
  padding-top: 30rpx;
  margin-right: 0;
  float: left;
}
.table .class-body .class12 .table-time text,
.table .class-body .class34 .table-time text,
.table .class-body .class56 .table-time text,
.table .class-body .class78 .table-time text,
.table .class-body .class910 .table-time text,
.table .class-body .class1112 .table-time text {
  display: block;
  margin-bottom: 55rpx;
  font-size: 22rpx;
  color: #999;
}
.table .class-body .class12 #sunday,
.table .class-body .class34 #sunday,
.table .class-body .class56 #sunday,
.table .class-body .class78 #sunday,
.table .class-body .class910 #sunday,
.table .class-body .class1112 #sunday {
  margin-right: 0;
}
.table .class-body .class56 .class-con,
.table .class-body .class78 .class-con {
  background-color: #09dee0;
}
.class-detail {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 5;
}
.class-detail .detail-con {
  box-sizing: border-box;
  width: 516rpx;
  height: 460rpx;
  background-color: #fff;
  border-radius: 14rpx;
  margin: 0 auto;
  margin-top: 408rpx;
  overflow: hidden;
  padding-left: 70rpx;
  padding-right: 70rpx;
}
.class-detail .detail-con .detail-class {
  margin-top: 60rpx;
  height: 79rpx;
}
.class-detail .detail-con .detail-class image {
  width: 23rpx;
  height: 28rpx;
  float: left;
  margin-left: 2rpx;
}
.class-detail .detail-con .detail-class view {
  width: 330rpx;
  float: right;
  margin-top: -5rpx;
}
.class-detail .detail-con .detail-class view text {
  font-size: 26rpx;
  color: #000;
  float: right;
  font-weight: 900;
}
.class-detail .detail-con .detail-name,
.class-detail .detail-con .detail-time,
.class-detail .detail-con .detail-room,
.class-detail .detail-con .detail-week {
  height: 79rpx;
}
.class-detail .detail-con .detail-name image,
.class-detail .detail-con .detail-time image,
.class-detail .detail-con .detail-room image,
.class-detail .detail-con .detail-week image {
  width: 26rpx;
  height: 26rpx;
  float: left;
}
.class-detail .detail-con .detail-name view,
.class-detail .detail-con .detail-time view,
.class-detail .detail-con .detail-room view,
.class-detail .detail-con .detail-week view {
  width: 330rpx;
  float: right;
  margin-top: -5rpx;
}
.class-detail .detail-con .detail-name view text,
.class-detail .detail-con .detail-time view text,
.class-detail .detail-con .detail-room view text,
.class-detail .detail-con .detail-week view text {
  font-size: 26rpx;
  color: #000;
  float: right;
  font-weight: 900;
  overflow: hidden;
  -webkit-line-clamp: 2;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  text-overflow: ellipsis;
  clear: both;
}
.class-detail .detail-con .detail-room image {
  width: 23rpx;
  height: 28rpx;
  margin-left: 2rpx;
}
