@import "starttoend.less";

.header {
  display: flex;
  justify-content: center;
  align-items: baseline;
  padding-top: r(32);
  background: #fff;
  border-top-left-radius: r(5);
  border-top-right-radius: r(5);
}
.header__desc {
  color: #000;
  font-size: r(48);
}
.header__text {
  margin-left: r(-11);
  color: #000;
  font-size: r(12);
}
/* 电费主页寝室用电详情 */
.main {
  position: relative;
  display: flex;
  flex-direction: column;
  padding-top: r(2);
  width: 100%;
  text-align: center;
  background: #fff;
  border-bottom-left-radius: r(5);
  border-bottom-right-radius: r(5);
  // z-index: 1;
}
#pastCost {
  position: relative;
  margin-top: r(30);
  width: r(343);
  height: r(333);
  background: #F4FFFE;
}
.round {
  position: absolute;
  top: r(110);
  left: 0;
  width: r(11);
  height: r(11);
  background: #00D0D5;
  border-radius: 50%;
}
.white {
  position: absolute;
  margin: auto;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: r(5);
  height: r(5);
  background: #fff;
  border-radius: 50%;
}
